form button {
    border-radius: 25px;
    padding: 7px 20px;
    font-weight: 600;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

#title, #note-text {
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.7);
    border-radius: 0;
    padding: 14px 10px;
    background: #d8c3a5;;
    width: 80%;
    outline: none;
    box-shadow: none;
    color: #000;
    text-align: center;

}

#title {
    font-weight: bold;
}

#title, #note-text:focus {

}

.note-form {
    width: 50%;
    margin: 3% auto;
    background: #d8c3a5;;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px 16px 35px;
    text-align: center;
}

#title {
    height: 50px;
}

.submit-button {
    background: rgba(0,0,0,0.7);
    color: white;
}

