form button {
    border-radius: 25px;
    padding: 7px 20px;
    font-weight: 600;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
form button:focus {
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

#title, #note-text {
    outline: none;
    box-shadow: none;
}

#title, #note-text {
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.7);
    border-radius: 0;
    padding: 14px 10px;
}

.note-form {
    width: 50%;
    margin: 3% auto;
    background: white;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px 16px 35px;
}

#title {
    height: 50px;
}

.submit-button {
    background: rgba(0,0,0,0.7);
    color: white;
}

.prev-button {
    border: 1px solid indianred;
    color: indianred;
    margin-right: 10px;
}