main {
    background-color: #eae7dc;
    grid-column: 3 / 4;
    grid-area: main;
    /*border: 3px dashed #e6482d;*/
}

.note__items {
    display: grid;
    grid-template: minmax(200px, 300px) minmax(200px, 300px) / repeat(auto-fit,minmax(350px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}