.app-wrapper {
    /*хз как растянуть вертикально по-пацански*/
    /*min-height: 710px;*/
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
                "header"
                "main"
                "footer";
    background-color: rgb(152, 222, 26);
    /*border: 4px dashed #0b29e1;*/
    padding: 10px;
}

header {
    grid-area: header;
    padding: 15px;
    border: 3px dashed #303337;
    display: grid;
    background-color: rgb(152, 222, 26);
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;

}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    grid-column: 2 / 3;
    border: 3px dashed #ece82d;
}

.nav__header {
    display: grid;
    grid-template: 1fr  / repeat(3, 1fr);
    justify-items: end;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.header__link {

}

main {
    background-color: rgb(152, 222, 26);
    grid-column: 3 / 4;
    grid-area: main;
    border: 3px dashed #e6482d;
}

.note__items {
    display: grid;
    grid-template: minmax(200px, 300px) minmax(200px, 300px) / repeat(auto-fit,minmax(350px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

.note__item {
    border-radius: 20px;
    padding: 20px;
}

.color1 {background-color: rgb(91, 141, 0);}
.color2 {background-color: rgb(118, 179, 8);}
.color3 {background-color: rgb(174, 233, 69);}
.color4 {background-color: rgb(194, 241, 109);}

footer {
    background-color: rgb(152, 222, 26);
    grid-area: footer;
    border: 3px dashed #3dd20c;
    text-align: center;
    
}

.note__items {

}

.NoteItemBtn {
    float: right;
}

.inactiveNoteText {
    Font-family: «Lato», Georgia, Arial, sans-serif;
}

inactiveNoteTitle {
    ;
    text-align: center;
}