.app-wrapper {
    /*хз как растянуть вертикально по-пацански*/
    /*min-height: 710px;*/
    /*min-height: 100%;*/
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
                "header"
                "main"
                "footer";
    background-color: #eae7dc;
    /*border: 4px dashed #0b29e1;*/
    padding: 10px;
    margin:  auto;
    overflow-x: hidden;
}

header {
    grid-area: header;
    padding: 15px;
    /*border: 3px dashed #303337;*/
    display: grid;
    background-color: #8e8d8a;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

header,footer {
    margin-right: -3000px;
    padding-right: 3000px;
    margin-left: -3000px;
    padding-left:3000px;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    grid-column: 2 / 3;
    border: 3px dashed #ece82d;
}

.nav__header {
    display: grid;
    grid-template: 1fr  / repeat(3, 1fr);
    justify-items: end;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.header__link {

}

main {
    background-color: #eae7dc;
    grid-column: 3 / 4;
    grid-area: main;
    /*border: 3px dashed #e6482d;*/
}

.note-items {
    display: grid;
    grid-template: minmax(200px, 300px) minmax(200px, 300px) / repeat(auto-fit,minmax(350px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

.note-item-wrapper {
    border-radius: 20px;
    padding: 17px;
    max-height: 300px;
}

.color1 {background-color: #d8c3a5;}/*#555c6c*/
.color2 {background-color: rgb(118, 179, 8);}/*#86786f*/
.color3 {background-color: #8e8d8a;}/*#d5cfbf*/
.color4 {background-color: #e85a4f;}/*#559b77*/

footer {
    grid-area: footer;
    text-align: center;
    background-color: #8e8d8a;
    height: 5em;
    line-height: 5em;
}

.footer-content {

}

.note-item {
    border-radius: 20px;

}


.note-item-btn {
    float: right;
}

.inactive-note-title {
    min-width: 250px;
    max-height: 32px;
    border-radius: 20px 20px 0 0;
    overflow: auto;
    word-wrap: break-word;
    margin-top: 0;
    padding: 10px 10px 0;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    letter-spacing: -0.4px;
}

.inactive-note-text {
    min-width: 250px;
    min-height: 220px;
    max-height: 200px;
    /*align-items: center;*/
    /*justify-content: center;*/
    overflow: auto;
    border-radius: 0 0 20px 20px;
    padding: .5rem;
    font-size: 1em;
    word-wrap: break-spaces;
    Font-family: «Lato», Georgia, Arial, sans-serif;
}

.form-group-edit input, textarea {
    background-color: #eae7dc;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
}

.form-group-edit textarea {
    min-height: 200px;
    /*height: 200px;*/
    /*max-height: 200px;*/
    resize: none;
}
