.app__wrapper {
    /*хз как растянуть вертикально по-пацански*/
    /*min-height: 710px;*/
    /*min-height: 100%;*/
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
                "header"
                "main"
                "footer";
    background-color: #eae7dc;
    padding: 0 10px;
    margin:  0 auto;
    overflow-x: hidden;
}





